<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="UnusedAttribute" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuietSpaceeee"
        tools:targetApi="31">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SupportActivity"
            android:exported="false" /> <!-- Activité de Login (écran de démarrage) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activité d'inscription -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Activité principale (après login) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Autres activités -->
        <activity android:name=".CafesActivity" />
        <activity android:name=".MapSearchActivity" />
        <activity android:name=".MapSearchActivity1" />
        <activity android:name=".data.view.CoworkListActivity" />
        <activity android:name=".data.view.BibListActivity" />
        <activity android:name=".data.view.CafeListActivity" />
        <activity android:name=".data.view.AllListActivity" />
        <activity android:name=".data.view.CafeDetailActivity" />
        <activity android:name=".data.view.CafeDetailActivity1" />
        <activity android:name=".data.view.AllListActivityadmin" />
        <activity android:name=".data.view.CafeEditActivity" />
        <activity android:name=".data.view.CafeReservationActivity" />
        <activity android:name=".data.view.MesReservationsListActivity" />
        <activity android:name=".data.view.ReservationListActivity" />
        <activity android:name=".data.view.MainActivityADMIN" /> <!-- Clé API Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXYvvB5Up1uqvQRNaHbUOuxbO6tIxCUH0"  />
    </application>

</manifest>